label.error { font-weight: bold; clear:both;}
input.error, textarea.error { border: 2px solid red; }

.rsvpFormField {
  margin: 10px 0px;
}
#rsvpCustomGreeting {
  margin-top: 20px;
  margin-bottom: 20px;
}
.rsvpBorderTop {
  border-top: 1px solid #ccc;
}
.rsvpAdditionalAttendee {
  text-align:left;
  border-top: 1px solid #ccc;
}
.rsvpCheckboxCustomQ {
  float: left;
  padding-right: 10px;
}
.rsvpClear {
  clear: both;
  height: 1px;
  line-height: 1px;
}
#rsvpPlugin input {
  display: inline;
  visibility: visible;
}
#rsvpPlugin #rsvpForm .rsvpFormField  input[type="radio"], #rsvpPlugin #rsvpForm .rsvpFormField  input[type="checkbox"] {
  display: inline-block;
}
.rsvpFormField  label {
  display: inline;
}
.rsvpParagraph {
  position: relative;
}
.rsvpParagraph .required {
  position: relative;
}
#rsvp_upgrade_to_pro_link {
  font-weight:bold;
  color: red;
}

table.rsvp-plugin_page_rsvp-admin-questions #the-list tr{
  cursor:move;
}

/**
Upsells
 */
.wrap .rsvp-upsell {
  border: 1px solid #DDD;
  text-align: center;
}
.wrap .rsvp-upsell {
  margin: 30px 0;
}
.rsvp-upsell {
  background: #f1f1f1;
  border: 0;
  padding: 0 15px;
}
.wrap .rsvp-upsell h2 {
  font-weight: 700;
  background: #fff;
  left: -15px;
  top: -15px;
  padding: 8px 12px;
  position: relative;
  width: calc(100% + 6px);
  border-bottom: 1px solid #DDD;
}

.rsvp-upsell p.rsvp-upsell-description {
  font-size: 13px;
  line-height: 1.5;
  color: #333333;
  opacity: .8;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0px 10px;
}

.rsvp-upsell .button {
	margin: 10px;
}