/* Lite vs PRO Section */

body.rsvp_page_rsvp-upgrade-to-pro #wpcontent .wrap {
	margin-left:0;
	max-width  : 85%;
}

.rsvp-lite-vs-premium > .wpchill-plans-table.wpchill-highlight > .wpchill-pricing-package {
	background : #fefff0;
	box-shadow: 0 0 15px rgb(208 219 219);
}

.rsvp-lite-vs-premium .wp-badge{
	display:inline-block;
	vertical-align:middle;
	position:relative;
	margin-right:2.5%;
}

.rsvp-lite-vs-premium h3 {
	display:block;
	position:relative;
	font-size: 16px;
	margin: 0;
}
.rsvp-lite-vs-premium p {
	font-size: 14px;
	margin: 0;
}

.wpchill-plans-table {
	display    : flex;
}

.wpchill-plans-table.table-header {
	margin-top : 50px;
}

.wpchill-plans-table.table-footer .wpchill-pricing-package:last-child {
	border:0;
}

.wpchill-plans-table .wpchill-pricing-package {
	text-align      : center;
	line-height     : 1.5;
	padding         : 10px 15px;
	display         : flex;
	align-content   : center;
	align-items     : center;
	justify-content : center;
	background      : #fff;
	border-top      : 1px solid #ccc;
}

.wpchill-plans-table .wpchill-pricing-package:not(:first-child) {
	max-width : 300px;
}

.wpchill-plans-table.table-header .wpchill-pricing-package {
	border:0;
}

.wpchill-plans-table.table-header .wpchill-pricing-package:not(.wpchill-modula-lite):last-child:before,
.wpchill-plans-table .wpchill-pricing-package.wpchill-title.wpchill-highlight::before{
	content        : '';
	width          : auto;
	display        : inline-block;
	opacity        : 1;
	position       : absolute;
	top            : -1px;
	background     : #41495b;
	text-align     : center;
	left           : 0;
	right          : 0;
	color          : #fff;
	font-size      : 15px;
	text-transform : uppercase;
	padding        : 10px 5px;
	transform      : translateY(-100%);
}

.rsvp-lite-vs-premium .wpchill-plans-table.table-header {
	border-top: 0;
}

.wpchill-plans-table .wpchill-pricing-package.wpchill-title {
	font-weight        : 400;
	color              : #666;
	font-size          : 1.25rem;
	height             : auto;
	-ms-flex-direction : column;
	flex-direction     : column;
	padding-top        : 30px;
	padding-bottom     : 30px;
	justify-content    : space-between;
	position           : relative;
}

.wpchill-plans-table .wpchill-pricing-package.wpchill-title.wpchill-modula-lite {
	justify-content: center;
}

.wpchill-plans-table .wpchill-pricing-package.wpchill-title p.description {
	font-style : italic;
	font-size  : 13px;
	margin-bottom: 40px;
}

.wpchill-plans-table .wpchill-pricing-package.wpchill-title .wpchill-price p:last-child {
	font-size  : 30px;
	margin: 0 0 40px 0;
}
.wpchill-plans-table .wpchill-pricing-package.wpchill-title .wpchill-price p.old-price {
	margin: 0;
	position: relative;
}

.wpchill-plans-table .wpchill-pricing-package.wpchill-title .wpchill-price p.old-price:after {
	content: "";
	height: 2px;
	width: 60px;
	background: red;
	display: block;
	position: absolute;
	left: 50%;
	top: 52%;
	transform: translate(-50%,-50%);
}

.wpchill-plans-table .wpchill-pricing-package.wpchill-title p.wpchill-name {
	margin    : 0;
	font-size : 36px;
}

.wpchill-plans-table .wpchill-pricing-package.wpchill-title p.wpchill-price sup {
	top: 2px;
	position: relative;
	font-size: 15px;
}

.wpchill-plans-table .wpchill-pricing-package.wpchill-empty {
	background   : transparent;
	border-color : transparent;
}

.wpchill-plans-table .wpchill-pricing-package.feature-name {
	justify-content : space-between;
	font-weight     : 400;
	text-align      : left;
	font-size       : 13px;
	display         : block;
	background      : transparent;
}

.wpchill-plans-table .wpchill-pricing-package .dashicons-saved {
	color : green;
}

.wpchill-plans-table .wpchill-pricing-package .dashicons {
	width     : 30px;
	height    : 30px;
	font-size : 30px;
}

.wpchill-plans-table .wpchill-pricing-package .dashicons-no-alt {
	color : #ff3439;
}

.wpchill-plans-table .wpchill-pricing-package:last-child {
	background : #fefff0;
}

.wpchill-pricing-package .button .dashicons {
	font-size: 16px;
	vertical-align: middle;
	line-height: 26px;
}

.wpchill-pricing-package {
	width:32%
}

.wpchill-plans-table.table-header .wpchill-pricing-package:not(.wpchill-modula-lite):last-child:before{
	content:"Current package";
}

/**
 * Upsells
 */

html body .rsvp-upsell ul li {
	display         : inline-block;
	margin          : 0 15px 15px 35px;
	position        : relative;
	list-style-type : none;
	text-align      : left;
}

html body .rsvp-upsell ul li:before {
	font-family      : Dashicons;
	content          : "\f147";
	position         : absolute;
	left             : -30px;
	font-size        : 14px;
	color            : green;
	background-color : #FFF;
	padding          : 0 3px;
	border-radius    : 50%;
	border           : 1px solid #DDD;
	top              : -1px;
}

html body .rsvp-upsell.rsvp-center-text {
	text-align : center;
}

/**
Upsells
 */
 .rsvp-upsell {
	border           : 1px solid #DDD;
	text-align       : left;
	background-color : #fff;
	padding          : 0 15px;
}

.rsvp-upsell {
	margin : 30px 0;
}

.rsvp-upsell h2 {
	font-weight : 700;
	background  : #fff;
	left        : -15px;
	top         : -15px;
	padding     : 8px 12px;
	position    : relative;
	width       : calc(100% + 6px);
}

.rsvp-upsell a {
	font-weight : bold;
}

.rsvp-upsell p.rsvp-upsell-description {
	font-size     : 13px;
	line-height   : 1.5;
	margin-top    : 0;
	margin-bottom : 10px;
}

.rsvp-upsell .button {
	margin : 10px 10px 10px 0;
}

.rsvp-toggle {
    position: relative;
    position: relative;
    user-select: none;
    display: inline-block;
}

.rsvp-toggle__items {
  box-sizing: border-box;
  display: inline-block;
    position: relative;
}
.rsvp-toggle__items > * {
  box-sizing: inherit;
}

.rsvp-toggle__input[type=checkbox],
body .media-modal-content .attachment-details .rsvp-toggle__input[type=checkbox],
.rsvp-toggle__input[type=radio],
body .media-modal-content .attachment-details .rsvp-toggle__input[type=radio] {
  border-radius: 2px;
  border: 2px solid #6c7781;
  margin-right: 12px;
  transition: none;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 1; }

.rsvp-toggle__track,
body .media-modal-content .attachment-details .rsvp-toggle__track {
  background-color: #fff;
  border: 2px solid #6c7781;
  border-radius: 9px;
  display: inline-block;
  height: 18px;
  width: 36px;
  vertical-align: top;
  transition: background .2s ease; }

.rsvp-toggle__thumb,
body .media-modal-content .attachment-details .rsvp-toggle__thumb {
  background-color: #6c7781;
  border: 5px solid #6c7781;
  border-radius: 50%;
  display: block;
  height: 10px;
  width: 10px;
  position: absolute;
  left: 4px;
  top: 4px;
  transition: transform .2s ease; }


.rsvp-toggle__off {
  position: absolute;
  right: 6px;
  top: 6px;
  color: #6c7781;
  fill: currentColor; }

.rsvp-toggle__on {
  position: absolute;
  top: 6px;
  left: 8px;
  border: 1px solid #fff;
  outline: 1px solid transparent;
  outline-offset: -1px;
  display: none; }

.rsvp-toggle__input[type=radio]:checked + .rsvp-toggle__items .rsvp-toggle__track,
.rsvp-toggle__input[type=checkbox]:checked + .rsvp-toggle__items .rsvp-toggle__track {
  background-color: #11a0d2;
  border: 9px solid transparent; }

.rsvp-toggle__input[type=radio]:checked + .rsvp-toggle__items .rsvp-toggle__thumb, 
.rsvp-toggle__input[type=checkbox]:checked + .rsvp-toggle__items .rsvp-toggle__thumb {
  background-color: #fff;
  border-width: 0;
  transform: translateX(18px); }

.rsvp-toggle__input[type=radio]:checked + .rsvp-toggle__items .rsvp-toggle__off,
.rsvp-toggle__input[type=checkbox]:checked + .rsvp-toggle__items .rsvp-toggle__off {
  display: none; }

.rsvp-toggle__input[type=radio]:checked + .rsvp-toggle__items .rsvp-toggle__on,
.rsvp-toggle__input[type=checkbox]:checked + .rsvp-toggle__items .rsvp-toggle__on {
  display: inline-block; }